h1{
    color:blueviolet
}
*{
    border:solid
}
.header{
    color:coral;
    display: flex;
    justify-content:space-evenly; 
    flex-wrap: wrap;
}
.middle{
    color:rgb(7, 219, 247)
}
.menu{
    background-color: darkgray;
}
.games{
    color:lightsalmon;
    display:flex;
    justify-content: space-around;
    
}